.navbar{

position:sticky;

top:0;

background:white;

z-index:100;

box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.navbar .container{

width:90%;

max-width:1400px;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

min-height:90px;

}

.logo img{

height:75px;

}

.desktop-nav .nav-links{

display:flex;

gap:30px;

list-style:none;

}

.desktop-nav a{

text-decoration:none;

font-weight:600;

color:#222;

transition:.3s;

}

.desktop-nav a:hover{

color:#229342;

}

.menu-toggle{

display:none;

border:none;

background:none;

font-size:2rem;

cursor:pointer;

}

.btn-primary{

padding:12px 24px;

background:#229342;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

@media(max-width:768px){

.desktop-nav{

display:none;

}

.btn-primary{

display:none;

}

.menu-toggle{

display:block;

}

}

